/*                                Generalization */
/*-----------------------------------------------*/
/*                                   Importation */
/*-----------------------------------------------*/
/*
 * @Name: _variables.scss
 * @Description: Contains all of the global-variables used in the SCSS files
 */
/*                                Generalization */
/*-----------------------------------------------*/
/*                                     COLOUR(s) */
/*-----------------------------------------------*/
/*                                          FONT */
/*-----------------------------------------------*/
/*                                Generalization */
/*-----------------------------------------------*/
/*                                   Importation */
/*-----------------------------------------------*/
/*
 * @Name: _mixin-flex.scss
 * @Description: Contains all of the mixins used for the flex-layout function(s) needed for
 * shorthand flex styling in the scss.
 */
/*                                Generalization */
/*-----------------------------------------------*/
/* Row */
/* Column */
/*
 * @Name: _mixin-grid.scss
 * @Description: Contains all of the mixins used for the grid-layout function(s) needed for
 * shorthand grid styling in the scss.
 */
/*                                Generalization */
/*-----------------------------------------------*/
/*
 * @Name: _reset.scss
 * @Description: This scss file sets up specific selectors and universal selectors
 * to their desired attributes and overrides unwanted behaviour from default attributes.
 */
/*                             Element Selectors */
/*-----------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*  default: content-box */
}

body {
  background-color: #EDEDED;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0px;
}

form,
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

input[type=text],
input[type=password],
input[type=submit],
textarea {
  font-family: "arial";
  border: none;
  outline: none;
}

input[type=date]::-webkit-inner-spin-button {
  display: none;
}

a {
  text-decoration: none;
}

button,
button:hover,
button:focus {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

/*                           Universal Selectors */
/*-----------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*                                Generalization */
/*-----------------------------------------------*/
/* BootStrap Helpers */
.col-center {
  text-align: center;
}

/*                                      Flex-Box */
/*-----------------------------------------------*/
.flex {
  display: flex;
  /* Default: flex-flow: row nowrap */
}
.flex_col {
  flex-flow: column nowrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex_jc-center {
  justify-content: center;
}
.flex_jc-between {
  justify-content: space-between;
}
.flex_jc-evenly {
  justify-content: space-evenly;
}
.flex_jc-around {
  justify-content: space-around;
}
.flex_jc-end {
  justify-content: flex-end;
}
.flex_ai-center {
  align-items: center;
}
.flex_ai-start {
  align-items: flex-start;
}
.flex_ai-end {
  align-items: flex-end;
}

/*                                    Positional */
/*-----------------------------------------------*/
.pos {
  position: static;
}
.pos-rel {
  position: relative;
}

/*                                   Importation */
/*-----------------------------------------------*/
/*
 * @Name: _header.scss
 * @Description: Styles for the main header, including layout components
 */
/*                                Generalization */
/*-----------------------------------------------*/
.header {
  height: 70px;
  padding: 0px 40px;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #36393F;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

/*                                Generalization */
/*-----------------------------------------------*/
.content-box {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #36393F;
}

.content-about {
  padding: 20px;
  border-radius: 0px 0px 4px 4px;
  background-color: #D8D8D8;
}

.content-header {
  padding: 20px;
  border-radius: 4px 4px 0px 0px;
  background-color: #36393F;
}

@media screen and (max-width: 885px) {
  #illustraion_row-1, #illustraion_row-2 {
    flex-flow: column;
  }
}
/*                                Generalization */
/*-----------------------------------------------*/
.sphere {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  border-radius: 100px;
  background-color: #36393F;
}
.sphere-1 {
  width: 40px;
  height: 40px;
}
.sphere-2 {
  width: 60px;
  height: 60px;
}
.sphere-3 {
  width: 80px;
  height: 80px;
}
.sphere-4 {
  width: 100px;
  height: 100px;
}

.img {
  width: 75px;
  height: 75px;
}
.img-circular {
  border-radius: 200px;
}

/*                                   Importation */
/*-----------------------------------------------*/
/*                                Generalization */
/*-----------------------------------------------*/
/* Header Selector Styling */
.h {
  font-family: "Avenir Next";
  /* Font Attributes */
  /* Font Weight */
  /* Font Alignment */
  /* Font Colours */
}
.h-1 {
  font-size: 2em;
}
.h-2 {
  font-size: 1.5em;
}
.h-3 {
  font-size: 1em;
}
.h-bold {
  font-weight: bold;
}
.h__w {
  font-weight: 100;
}
.h__w-200 {
  font-weight: 200;
}
.h__w-300 {
  font-weight: 300;
}
.h__w-b {
  font-weight: bold;
}
.h__ali-center {
  text-align: center;
}
.h__c-light {
  color: #ECECEC;
}

/*                                Generalization */
/*-----------------------------------------------*/
.btn {
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  /* Styled buttons */
}
.btn__success {
  color: #36393F;
  background-color: #2ecc71;
}
.btn__success:hover {
  background-color: #44d580;
}
.btn__error {
  color: #36393F;
  background-color: #2ecc71;
}
.btn__error:hover {
  background-color: #44d580;
}
.btn__circular {
  width: 80px;
  height: 80px;
  margin: 0px 15px 15px 0px !important;
  font-size: 32px;
  font-weight: bold;
  border-radius: 40px;
  background-color: #ECECEC;
}
.btn__circular:hover {
  opacity: 0.9;
}
.btn__row {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  border: 1px solid #979797;
  font-size: 18px;
  font-weight: bold;
  background-color: #D8D8D8;
}
.btn__row:hover, .btn__row:focus {
  border: 1px solid #979797;
  background-color: #C9C9C9;
}

/*                                Generalization */
/*-----------------------------------------------*/
/*                                       Padding */
/*-----------------------------------------------*/
.pad {
  padding: 5px;
  /* Padding Reset */
  /* Padding Bottom */
}
.pad-10 {
  padding: 10px;
}
.pad-15 {
  padding: 15px;
}
.pad-20 {
  padding: 20px;
}
.pad-25 {
  padding: 25px;
}
.pad__reset {
  padding: 0px;
}
.pad__b {
  padding-bottom: 5px;
}
.pad__b-10 {
  padding-bottom: 10px;
}
.pad__b-15 {
  padding-bottom: 15px;
}
.pad__b-20 {
  padding-bottom: 20px;
}
.pad__b-25 {
  padding-bottom: 25px;
}

/*                                        Margin */
/*-----------------------------------------------*/
.m {
  margin: 5px;
  /* Margin Right */
  /* Margin Bottom */
  /* Margin Left */
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.m-25 {
  margin: 25px;
}
.m__r {
  margin-right: 5px;
}
.m__r-10 {
  margin-right: 10px;
}
.m__r-15 {
  margin-right: 15px;
}
.m__r-20 {
  margin-right: 20px;
}
.m__r-25 {
  margin-right: 25px;
}
.m__b {
  margin-bottom: 5px;
}
.m__b-10 {
  margin-bottom: 10px;
}
.m__b-15 {
  margin-bottom: 15px;
}
.m__b-20 {
  margin-bottom: 20px;
}
.m__b-25 {
  margin-bottom: 25px;
}
.m__l {
  margin-left: 5px;
}
.m__l-10 {
  margin-left: 10px;
}
.m__l-15 {
  margin-left: 15px;
}
.m__l-20 {
  margin-left: 20px;
}
.m__l-25 {
  margin-left: 25px;
}

/*                                Generalization */
/*-----------------------------------------------*/
.backdrop {
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
  width: 300px;
  height: 100%;
  z-index: 1000;
  padding: 20px;
  background-color: #36393F;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.sidebar-open {
  cursor: pointer;
  color: #EDEDED;
  background-color: #36393F;
}
.sidebar-close {
  cursor: pointer;
  color: #EDEDED;
  background-color: #36393F;
}
.sidebar-link {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.15em;
  color: #EDEDED;
  text-decoration: none !important;
  background-color: #303030;
}
.sidebar-link:hover {
  color: #EDEDED;
  background-color: #262626 !important;
}
.sidebar-img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: coral;
}

/*# sourceMappingURL=stylesheet.css.map */
