/*                                Generalization */
/*-----------------------------------------------*/

/* BootStrap Helpers */
.col-center {
  text-align: center;
}


/*                                      Flex-Box */
/*-----------------------------------------------*/


.flex {
  display: flex; /* Default: flex-flow: row nowrap */

  // Columns
  &_col {
    flex-flow: column nowrap;
  }

  // Center
  &-center {
    justify-content: center;
    align-items: center;
  }

  // Justify-content
  &_jc {
    &-center {
      justify-content: center;
    }
    &-between {
      justify-content: space-between;
    }
    &-evenly {
      justify-content: space-evenly;
    }
    &-around {
      justify-content: space-around;
    }
    &-end {
      justify-content: flex-end;
    }
  }

  // Align-items
  &_ai {
    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start
    }
    &-end {
      align-items: flex-end
    }
  }
}


/*                                    Positional */
/*-----------------------------------------------*/


.pos {
  position: static;

  &-rel {
    position: relative;
  }
}


/*                                   Importation */
/*-----------------------------------------------*/


@import '_header.scss';
@import '_box.scss';