/*
 * @Name: _variables.scss
 * @Description: Contains all of the global-variables used in the SCSS files
 */


/*                                Generalization */
/*-----------------------------------------------*/

/*                                     COLOUR(s) */
/*-----------------------------------------------*/

$colour__secondary-1: #36393F;
$colour__secondary-2: #EDEDED;
$colour__secondary-3: #D8D8D8;

// Success
$colour__success-1: #2ecc71;
$colour__success-1-hover: #44d580;

// List items
$colour_listitem-1: #303030;
$colour_listitem-1_hover: #262626;


/*                                          FONT */
/*-----------------------------------------------*/

$font__colour-light: #ECECEC;