/*                                Generalization */
/*-----------------------------------------------*/


.btn {
  width: 100%;
  height: 40px;

  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;

  /* Styled buttons */

  &__success {
    color: $colour__secondary-1;
    background-color: $colour__success-1;

    &:hover {
      background-color: $colour__success-1-hover;
    }
  }

  &__error {
    color: $colour__secondary-1;
    background-color: $colour__success-1;

    &:hover {
      background-color: $colour__success-1-hover;
    }
  }

  &__circular {
    width: 80px;
    height: 80px;
    margin: 0px 15px 15px 0px !important;

    font-size: 32px;
    font-weight: bold;
    border-radius: 40px;
    background-color: #ECECEC;

    &:hover {
      opacity: 0.9;
    }
  }

  &__row {
    width: 100%;
    height: 100%;
    padding: 10px 0px;


    border: 1px solid #979797;
    font-size: 18px;
    font-weight: bold;
    background-color: $colour__secondary-3;

    &:hover, &:focus {
      border: 1px solid #979797;
      background-color: #C9C9C9;
    }
  }
}